@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  #pdf-content {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.header-gradient {
  background: linear-gradient(to right, rgb(30, 58, 138), rgb(29, 78, 216));
}

.official-seal {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}